<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Pet Clinic Application</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/pets}">Pets Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Update Pet </h1>
            <div class="card-body">
                <form th:action="@{/pets/{id} (id=${pet.petId})}" th:object="${pet}" method="POST">
                    <div class="form-group">
                        <label> Pet Name </label>
                        <input
                                type="text"
                                name="petName"
                                th:field="*{petName}"
                                class="form-control"
                                placeholder="Enter Pet Name"
                                required
                        />
                    </div>

                    <div class="form-group">
                        <label> Pet Breed </label>
                        <input
                                type="text"
                                name="petBreed"
                                th:field="*{petBreed}"
                                class="form-control"
                                placeholder="Enter pet Breed"
                                required
                        />
                    </div>

                    <div class="form-group">
                        <label> Pet ArrivalDate </label>
                        <input
                                type="date"
                                name="petArrivalDate"
                                th:field="*{petArrivalDate}"
                                class="form-control"
                                placeholder="Enter pet ArrivalDate"
                                required
                        />
                    </div>

                    <div class="form-group">
                        <label> Pet Type </label>
                        <input
                                type="text"
                                name="petType"
                                th:field="*{petType}"
                                class="form-control"
                                placeholder="Enter pet Type"
                                required
                        />
                    </div>

                    <div class="form-group">
                        <label>Pet Owner</label>
                        <select th:field="*{petOwner}" class="form-control">
                            <option th:each="pet : ${ownerL}" th:value="${pet.ownerId}" th:text="${pet.ownerFirstName + ' ' + pet.ownerLastName}"></option>
                        </select>
                    </div>


                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>


                </form>
            </div>

            </form>
        </div>

    </div>
</div>
</div>

</body>
</html>