<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Pet Clinic Management</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/appointments}">Appointments Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Update Appointment </h1>
            <div class="card-body">
                <form th:action="@{/appointments/{id} (id=${appointment.appointmentID})}" th:object="${appointment}" method="POST">
                    <div class="form-group">
                        <label> Appointment Date </label>
                        <input
                                type="date"
                                name="appointmentDate"
                                th:field="*{appointmentDate}"
                                class="form-control"
                                placeholder="Enter Appointment Date"
                                required
                        />
                    </div>

                    <div class="form-group">
                        <label> Appointment Reason</label>
                        <input
                                type="text"
                                name="appointmentReason"
                                th:field="*{appointmentReason}"
                                class="form-control"
                                placeholder="Enter Appointment Reason"
                                required
                        />
                    </div>

                    <div class="form-group">
                        <label>Pet</label>
                        <select th:field="*{pet}" class="form-control">
                            <option th:each="pet : ${pets}" th:value="${pet.petId}" th:text="${pet.petName + ' ' + pet.petBreed}"></option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label>Veterinary</label>
                        <select th:field="*{veterinarian}" class="form-control">
                            <option th:each="vet : ${vets}" th:value="${vet.veterinarianCode}" th:text="${vet.vetName + ' ' + vet.vetSpecialty}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Pet Owner</label>
                        <select th:field="*{petOwner}" class="form-control">
                            <option th:each="owner : ${owners}" th:value="${owner.ownerId}" th:text="${owner.ownerFirstName + ' ' + owner.ownerLastName}"></option>
                        </select>
                    </div>


                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>


                </form>
            </div>

            </form>
        </div>

    </div>
</div>
</div>

</body>
</html>