<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Pet Clinic Management</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/veterinarians}">Veterinarians Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create New Owner </h1>
            <div class="card-body">
                <form th:action="@{/veterinarians/{id} (id=${veterinarian.veterinarianCode})}" th:object="${veterinarian}" method="POST">
                    <div class="form-group">
                        <label> Veterinarian Name </label>
                        <input
                                type="text"
                                name="vetName"
                                th:field="*{vetName}"
                                class="form-control"
                                placeholder="Enter Veterinarian Name"
                                required
                        />
                    </div>

                    <div class="form-group">
                        <label> Veterinarian Email </label>
                        <input
                                type="email"
                                name="vetContactInfo"
                                th:field="*{vetContactInfo}"
                                class="form-control"
                                placeholder="Enter Veterinarian Email"
                                required
                        />
                    </div>

                    <div class="form-group">
                        <label> Veterinarian Specialty </label>
                        <input
                                type="text"
                                name="vetSpecialty"
                                th:field="*{vetSpecialty}"
                                class="form-control"
                                placeholder="Enter Veterinarian Specialty"
                                required
                        />
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>


                </form>
            </div>

            </form>
        </div>

    </div>
</div>
</div>

</body>
</html>