<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Pet Owner Management</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/owners}">Owners Management</a>
            </li>
        </ul>
    </div>
</nav>


  <div class ="container">
      <div class="row">
          <h1>List Pet Owners</h1>
      </div>

      <div class="row">
          <div class="col-lg-3">
              <a th:href="@{/owners/new}" class="btn btn-primary btn-sm mb-3">Add Owner</a>
      </div>
      </div>
      <div class="row mb-3">
          <form th:action="@{/owners}" method="GET" class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                  <label for="ownerId" class="sr-only">Owner ID</label>
                  <input type="text" class="form-control" id="ownerId" name="ownerId" placeholder="Enter Owner ID">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Search</button>
          </form>
      </div>
      <table class ="table table-striped table-bordered">
          <thead class="table-dark">
          <tr>
              <th>Owner First Name</th>
              <th>Owner Last Name</th>
              <th>Owner Mobile Number</th>
              <th>Owner's City</th>
              <th>Actions</th>
          </tr>
          </thead>

          <tbody>

            <tr th:each ="owner: ${owners}">
                <td th:text="${owner.ownerFirstName}"></td>
                <td th:text="${owner.ownerLastName}"></td>
                <td th:text="${owner.ownerTelephoneNumber}"></td>
                <td th:text="${owner.ownerCity}"></td>
                <td>
                    <a th:href = "@{/owners/edit/{id}(id=${owner.ownerId})}"
                    class = "btn btn-primary">Update</a>

                    <a th:href = "@{/owners/{id}(id=${owner.ownerId})}"
                       class = "btn btn-danger">Delete</a>
                </td>

            </tr>

          </tbody>

      </table>

</div>

</body>
</html>