<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <title>Pets Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Pet Clinic Application</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/pets}">Pets Management</a>
            </li>
        </ul>
    </div>
</nav>
<div class ="container">
    <div class="row">
        <h1>List Pets</h1>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/pets/new}" class="btn btn-primary btn-sm mb-3">Add Pet</a>
        </div>
    </div>
    <table class ="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Pet Name</th>
            <th>Pet Breed</th>
            <th>Pet ArrivalDate</th>
            <th>Pet Type</th>
            <th>Pet Owner</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each ="pet: ${pets}">
            <td th:text="${pet.petName}"></td>
            <td th:text="${pet.petBreed}"></td>
            <td th:text="${#temporals.format(pet.petArrivalDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${pet.petType}"></td>
            <td th:text="${pet.petOwner.ownerFirstName}"></td>
            <td>
                <a th:href = "@{/pets/edit/{id}(id=${pet.petId})}"
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/pets/{id}(id=${pet.petId})}"
                   class = "btn btn-danger">Delete</a>
            </td>

        </tr>

        </tbody>
    </table>
</div>
</body>
</html>