<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Veterinarians Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Veterinarians Management</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/veterinarians}">Veterinarians Management</a>
            </li>
        </ul>
    </div>
</nav>
<div class ="container">
    <div class="row">
        <h1>List Veterinarians</h1>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/veterinarians/new}" class="btn btn-primary btn-sm mb-3">Add Veterinarian</a>
        </div>
    </div>
    <table class ="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Veterinarian Name</th>
            <th>Veterinarian ContactInfo</th>
            <th>Veterinarian Specialty</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each ="vet: ${veterinarians}">
            <td th:text="${vet.vetName}"></td>
            <td th:text="${vet.vetContactInfo}"></td>
            <td th:text="${vet.vetSpecialty}"></td>
            <td>
                <a th:href = "@{/veterinarians/edit/{id}(id=${vet.veterinarianCode})}"
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/veterinarians/{id}(id=${vet.veterinarianCode})}"
                   class = "btn btn-danger">Delete</a>
            </td>

        </tr>

        </tbody>
    </table>
</div>
</body>
</html>